/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
p1 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color: #FFF;
    font-weight: bold;
   
	
}

p2 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color: #FFF;
  
}

p3 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color:#EF5F3C;
    font-weight: bold;

}

p4 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color:#777;
    
}

p5 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color:#777;
    font-weight: bold;
    
}

p6 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color:#424242;
    font-weight: bold;
}

p7 {

	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;	
	color:#20A1D4;

}

.container {

	margin: 2em auto;	
	max-width: 630px;
	text-align: center;
     
 }

.container2 {

    max-width: 310px;
   	height: 250px;
	background: #FFF;
    border: 2px solid #EAEAEA;
	text-align: center;
  
}
 
 .grid-container1 {
 
 	width: 310px;
    height: 12px;
 	background: #FFF;
	border: 1px solid #EAEAEA;
    display: grid;
    grid-template-columns: 73% 30%;
    grid-template-rows: 10px 10px;
    
}
 
.grid-container2 {

	width: 310px;
    background: #FFF;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10px;

}

.grid-container3 {
	
	width: 310px;
    max-height: 290px;
    background-color: #FFF;
    border: 2px solid #EAEAEA;
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "content content"
    "textbox button"
    "footer footer";
    
}

.grid-container4 {

	width: 310px;
    height: 15px;
 	background: #FFF; 
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 10px 10px;
	grid-column-gap: 10px;
    grid-row-gap: 10px;
	align-items: start;  
   
}

.item1 {
	
    background: #EF5F3C;
	
}

.item2 {

	background: #FFF;
    
}

.item3 {
	
	background: #FFF;
    padding: 10px;

}

 .item4 {
 
	grid-area: content; 
	background: #FFF;
    padding: 10px;
 
}

.item5 {

	grid-area: textbox;
	bakground-color:#FFF;
    border: 2px solid #EAEAEA;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    margin: 10px;
    justify-self: start;
    text-align: end;
   
}

.item6 {
	
    grid-area: button;
	background-color: #1CBC2C;
	border-radius: 3px;
 	width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
    text-justify: center;
  
}

.item7 {

	grid-area: footer;
	background-color: #FFF;
    padding: 10px;
    text-justify: end;
    
 
 }
 
 .item8 {
 
 	background-color: #FFF;
    border: 2px solid #EAEAEA;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    text-align: center;
    justify-text: center;
}

#gray-box {

	background-color: #777;
	width: 310px;
	height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}
